/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_da.h"

// Home Row Mod Tap-Hold configuration
&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

/ {
    keymap {
        // LAYER 0: BASE (QWERTY + Home Row Mods)
        default_layer {
            bindings = <
&none  &kp Q        &kp W        &kp E         &kp R         &kp T          &kp Y         &kp U         &kp I         &kp O         &kp P           &none
&none  &mt LGUI A   &mt LALT S   &mt LCTRL D   &mt LSHFT F   &kp G          &kp H         &mt RSHFT J   &mt RCTRL K   &mt RALT L    &mt RGUI DA_OSL &none
&none  &kp Z        &kp X        &kp C         &kp V         &kp B          &kp N         &kp M         &kp COMMA     &kp DOT       &kp DA_AE       &none
                                 &lt 3 ESC     &lt 1 SPACE   &lt 2 TAB      &lt 4 RET     &lt 5 BSPC    &lt 6 DEL
            >;
        };

        // LAYER 2: SYMBOLS (The "Coder" Layer for Danish OS)
        // This maps US-style symbols to the Danish OS shortcuts
        symbol_layer {
            bindings = <
&none  &kp DA_LBRC  &kp DA_AMPS  &kp DA_ASTR   &kp DA_LPAR   &kp DA_RBRC    &none         &none         &none         &none         &none           &none
&none  &kp DA_COLN  &kp DA_DLR   &kp DA_PRCNT  &kp DA_CARET  &kp DA_PLUS    &none         &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI        &none
&none  &kp DA_TILD  &kp DA_EXCL  &kp DA_AT     &kp DA_HASH   &kp DA_PIPE    &none         &none         &none         &none         &none           &none
                                 &trans        &trans        &trans         &none         &none         &none
            >;
        };
        
        // LAYER 3: NUMBERS & EXTRA DANISH
        nav_layer {
            bindings = <
&none  &kp DA_LBKT  &kp N7       &kp N8        &kp N9        &kp DA_RBKT    &none         &none         &none         &none         &none           &none
&none  &kp DA_SCLN  &kp N4       &kp N5        &kp N6        &kp DA_EQL     &none         &kp RSHFT     &kp RCTRL     &kp LALT      &kp RGUI        &none
&none  &kp DA_AA    &kp N1       &kp N2        &kp N3        &kp DA_BSLS    &none         &none         &none         &none         &none           &none
                                 &none         &kp N0        &kp DA_MINS    &none         &none         &none
            >;
        };
    };
};
